<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccountModels" version="1.0.6271.32283" targetFramework="net461" />
  <package id="ApplicationModels" version="1.0.6271.32333" targetFramework="net461" />
  <package id="CustomerModels" version="1.0.6271.32383" targetFramework="net461" />
  <package id="DeviceModelsNet4" version="2.0.6271.32548" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="ReferenceModels" version="2.0.6271.32814" targetFramework="net461" />
  <package id="RegistryModels" version="2.0.6271.32856" targetFramework="net461" />
  <package id="Wire" version="2.0.6271.34207" targetFramework="net461" />
</packages>