<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="DevSubKey" value="subscription-key=[your-dev-key]"/>
    <add key="RegistryAPI" value="https://[your-apim-host]azure-api.net/dev/v1/registry"/>
  </appSettings>
  
</configuration>
