<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccountModels" version="1.0.6237.40712" targetFramework="net461" />
  <package id="CustomerModels" version="1.0.6237.40795" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="RegistryModels" version="2.0.6237.41130" targetFramework="net461" />
  <package id="Wire" version="2.0.6237.40626" targetFramework="net461" />
</packages>