<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="DeviceAPI" value="https://[your-apim-host].azure-api.net/dev/v1/device/manifests" />
    <add key="RegistryAPI" value="https://[your-apim-host].azure-api.net/dev/v1/registry/profiles" />
    <add key="SimulationAPI" value="https://[your-apim-host].azure-api.net/dev/v1/simulation/datasets" />
    <add key="SubscriptionKey" value="subscription-key=[your-dev-key]" />

    <add key="CompanyName" value="Tall Towers" />

    <add key="teammate01" value="teammate1" />
    <add key="teammate02" value="teammate2" />
    <add key="teammate03" value="teammate3" />
    <add key="teammate04" value="teammate4" />
    <add key="teammate05" value="teammate5" />
    <add key="teammate06" value="teammate6" />
    <add key="teammate07" value="teammate7" />
    <add key="teammate08" value="teammate8" />
    <add key="teammate09" value="teammate9" />
    <add key="teammate10" value="teammate10" />
    <add key="teammate11" value="teammate11" />
    <add key="teammate12" value="teammate12" />
    <add key="teammate13" value="teammate13" />
    <add key="teammate14" value="teammate14" />
    <add key="teammate15" value="teammate15" />

  </appSettings>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PCLCrypto" publicKeyToken="d4421c8a4786956c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
