@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Multi-Tenant Dashboard Example</h1>
    <p class="lead">This solution demonstrates restricted access to telemetry using AD B2C Claims and te Registry API</p>
</div>

