<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeviceModelsNet4" version="2.0.6271.32548" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Azure.Amqp" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Azure.Devices" version="1.2.3" targetFramework="net461" />
  <package id="Microsoft.Azure.Devices.Shared" version="1.0.7" targetFramework="net461" />
  <package id="Microsoft.Azure.DocumentDB" version="1.12.0" targetFramework="net461" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net461" />
  <package id="PInvoke.BCrypt" version="0.3.152" targetFramework="net461" />
  <package id="PInvoke.Kernel32" version="0.3.152" targetFramework="net461" />
  <package id="PInvoke.NCrypt" version="0.3.152" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.3.152" targetFramework="net461" />
  <package id="Store" version="2.0.6271.34709" targetFramework="net461" />
  <package id="Validation" version="2.4.10" targetFramework="net461" />
</packages>